<section id="aboutm">
<div class="parallax2">
	<div class="blklay flex-center">
	 <h3 class="text-center">About me</h3>
	</div>
</div>
	<div class="divider-new">
		<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Favorite Video Games</h2>
	</div>

<div class="row">
            <div class="col-md-4">
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/ow.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-gamepad"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Overwatch</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">In a time of global crisis, a group of heroes formed an international squadron to bring peace back to a world ravaged by war. This group called itself OVERWATCH.</p>               
                    </div>
                </div>
            </div>

            <div class="col-md-4">                
                <div class="card card-dark">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/lol.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-gamepad"></i></a>
                        <!--Title-->
                        <h4 class="card-title">League of legends</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">The game is inspired by the popular custom map of Warcraft III, Defense of the Ancients: Allstars (Dota) which in turn is based on the StarCraft scenario "Aeon of Strife".</p>           
                    </div>
                </div>
            </div>

               <div class="col-md-4">                
                <div class="card card-dark">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/cod.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-gamepad"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Call of duty</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">These games are set in World War II and based on historical facts, some well known, such as the landing in Normandy or the defense of Russian territory, recreating important battles, taking the player through a series of scenarios Of Europe and the North of Africa, and always in the skin of an English, American or Soviet soldier;</p>      
                    </div>
                </div>
            </div>
        </div>
        <!--Series-->
        <section id="series">
        	<div class="divider-new">
				<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Favorite Series</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
                <!--Card Light-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/sense8.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-film"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Sense8</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">A group of people around the world are suddenly linked mentally, and must find a way to survive being hunted by those who see them as a threat to the world's order.</p>                 
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Light-->
            	</div>

            	<div class="col-md-4">
                <!--Card Light-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/got.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-film"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Game of thrones</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Nine noble families fight for control over the mythical lands of Westeros; A forgotten race returns after being dormant for thousands of years.</p>
                    </div>
                </div>
            	</div>

            	<div class="col-md-4">
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/the100.png" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-film"></i></a>
                        <!--Title-->
                        <h4 class="card-title">The 100</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Set 97 years after a nuclear war has destroyed civilization, when a spaceship housing humanity's lone survivors sends 100 juvenile delinquents back to Earth in hopes of possibly re-populating the planet.</p>         
                    </div>
                </div>
            	</div>
			</div>
        </section>

        <!--work-->
        <section id="series">
        	<div class="divider-new">
				<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Work</h2>
			</div>
			<div class="row">
				<div class="col-md-4">

                <!--Card Light-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/frontend.png" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-briefcase"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Front-end</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">i Love layout my own designs, and copy son web designs to improve my skills</p>                     
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Light-->
            	</div>

            	<div class="col-md-4">

                <!--Card Light-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/uxui.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-briefcase"></i></a>
                        <!--Title-->
                        <h4 class="card-title">UI/UX</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">i Love, build my designs sice the base, making first somthing in paper, pass it to the computer and test it with the help of some friends</p>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Light-->
            	</div>

            	<div class="col-md-4">

                <!--Card Light-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/ios.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-briefcase"></i></a>
                        <!--Title-->
                        <h4 class="card-title">iOS Development</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">I Love develop mobile apps because their are very simple to understand for the final user and this apps must have thir information very simple. </p>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Light-->
            	</div>
			</div>
        </section>
</section>