<section id="band">
	<div class="parallax3">
		<div class="blklay flex-center">
		 	<h3 class="text-center">Music Zone</h3>
		</div>
	</div>
	<div class="divider-new">
		<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Favorite Music</h2>
	</div>
    <section id="artist">
        <div class="row">
              <div class="col-md-4">
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/claptone.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-music"></i></a>
                        <!--Title-->
                        <h4 class="card-title">Claptone</h4>
                        <hr>
                        <!--Text-->
                        <p>Top tracks</p> 
                         <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">No Eyes Wrong / No Eyes - 2013</a>
                            <a href="#" class="list-group-item list-group-item-action">Puppet Theatre Charmer - 2015</a>
                            <a href="#" class="list-group-item list-group-item-action">Goot to you Cream - 2012</a>
                        </div>             
                    </div>
                </div>
            </div>

            <div class="col-md-4">                
                <div class="card card-dark">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/david.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-music"></i></a>
                        <!--Title-->
                        <h4 class="card-title">David Guetta</h4>
                        <hr>
                        <!--Text-->
                        <p>Top tracks</p> 
                         <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Hey mama / Listen - 2014</a>
                            <a href="#" class="list-group-item list-group-item-action">Titanium / Nothing but the Beat - 2011</a>
                            <a href="#" class="list-group-item list-group-item-action">Play Hard / Nothing but the Beat - 2011</a>
                        </div>          
                    </div>
                </div>
            </div>

               <div class="col-md-4">                
                <div class="card card-dark">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="/assets/dnce.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Social shares button-->
                        <a class="activator"><i class="fa fa-music"></i></a>
                        <!--Title-->
                        <h4 class="card-title">DNCE</h4>
                        <hr>
                        <!--Text-->
                        <p>Top tracks</p> 
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Cake By the Ocean - 2015</a>
                            <a href="#" class="list-group-item list-group-item-action">Toothbrush / DNCE - 2016</a>
                            <a href="#" class="list-group-item list-group-item-action">Body Moves / DNCE - 2016</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
        <section id="music section">
        	<div class="divider-new">
				<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Listen some amazin music!</h2>
			</div>

        	<div id="spoty" class="container text-center">
        		<iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A0Nsxhl2biAO7wLGwB1Ht9C" width="500" height="300" frameborder="0" allowtransparency="true"></iframe>
        	</div>
        </section>
</section>