<section>
	<div class="parallax1">
		<div class="blklay flex-center">
		 	<h3 class="text-center">Home</h3>
		</div>
	</div>
</section>
<section id="header">

	<div class="divider-new">
		<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Introduction</h2>
	</div>

	<div class="container">
		<!--Card-->
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar">
    	<img src="/assets/prof.jpg" class="rounded-circle img-responsive" id="profile">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">German Gonzalez</h4>
        <hr>
        <!--Quotation-->
        <p><i class="fa fa-quote-left"></i>Hello everyone, my name is German Gonzalez Moreno, in this section I'll talk about my general likes. Some of them are Video Games like Overwatch, League of Legends, Destiny, Guitar Hero and more, Another passion is learn everyday about Front End, do some swimming and go out to party.</p>
    </div>

</div>
<!--/.Card-->
	</div>
</section>