<section>
	<div class="parallax1">
		<div class="blklay flex-center">
		 	<h3 class="text-center">Home</h3>
		</div>
	</div>
</section>
<section id="header">

	<div class="divider-new">
		<h2 class="h2-responsive wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Introduction</h2>
	</div>

	<div class="container">
		<!--Card-->
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar">
    	<img src="/assets/prof.jpg" class="rounded-circle img-responsive" id="profile">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">German Gonzalez</h4>
        <hr>
        <!--Quotation-->
        <p><i class="fa fa-quote-left"></i> Hola a todos, mi nombre es German Gonzalez, y en esta seccion 
				hablare un poco de mis gustos generales Los cuales son los videojuegos
				como overwatch, league of legends, Destiny, Guitar hero y muchos mas,
				otra de mis pasiones es aprender todos los dias un poco de front-end, 
				hacer natacion y tambien salir de fiesta.</p>
    </div>

</div>
<!--/.Card-->
	</div>
</section>