<section id="sport">
	<div class="parallax4">
		<div class="blklay flex-center">
		 	<h3 class="text-center">Sports Zone</h3>
		</div>
	</div>
	<section id="categories">
		<div class="divider-new">
			<h2 class="h2-responsive wow fadeInDown">Favorite sports</h2>
		</div>

		<div class="row">
            <div class="col-md-4">
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/swiming.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">swimming</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">I love this sport because, you lose stress, and you could get condition faster than other sports</p>               
                    </div>
                </div>
            </div>

            <div class="col-md-4">                
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/bask.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">basketball</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">i like this sport because the strategy, and the moves to win are very awesome</p>           
                    </div>
                </div>
            </div>

               <div class="col-md-4">                
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/climb.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-block">                    
                        <!--Title-->
                        <h4 class="card-title">climbing</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">This sport is pretty awesome because you enjoy the nature and get stronger</p>      
                    </div>
                </div>
            </div>
        </div>
	</section>
</section>