.blklay{
    background-color: rgba(0,0,0,.7);   
}
.parallax1 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/background.jpg");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/destinyback.jpg");

    /* Set a specific height */
    height: 600px;  

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/musicback.jpg");

    /* Set a specific height */
    height: 600px;  

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/Galuz/RubyonRails_StaticPages/master/app/assets/images/sportback.jpg");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3.text-center{
	text-align: justify;
    color: white;
    margin-top: 30px;
}
section#header div img{
    width: 114px;
    height: 114px;
}
.centerr{
    text-align: center;
}

#spoty{

}
h3.tracks{
    color: black;
}
